/**
 * @file altprod.component.css
 * @brief Stylesheet for the AltProd component.
 */

/* Reset margins and paddings for all elements */
*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: 100%; 
    background-color: #023436;
}
.app-navbar, .app-display-results{
    width: 100%;
    
}
.app-navbar{
    z-index: 1000000;
}
.search-bar-container{
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 20px;
}

::ng-deep app-searchbar .container{
    justify-content: initial !important;
}
