.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d5f5ea;
  padding: 20px;
  border-radius: 15px;
  scroll-behavior: smooth;
}
.result-container{
    width: 100%;
}
.item-container{  
  display: flex;
  width: 100%;
  height: auto;
  padding: 15px;
  flex-direction: column;
  background-color: transparent
}

.items-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  list-style: none;
  gap: 10px;
}
.item{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white ;
  gap: 10px;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}
.item:hover{
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}
.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: auto;
}
.product-image{
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.categ{
  color: rgb(23, 241, 41);
}