  .container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-container {
  position: relative;
  width: 70%;
  height: 100%;
  background: white;
  border-radius: 40px;
  z-index: 10;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.search-container.has-suggestions {
  border-radius: 20px 20px 0 0;
}

.search-container.has-suggestions input {
  border-radius: 20px 20px 0 0;
}

.search-container input {
  border: none;
  outline: none;
  flex: 1;
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding: 15px;
  border-radius: 25px;
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #13172e;
  margin-left: 8px;
}

.filter-btn, .add-btn {
  border: none;
  border-left: 1px solid rgb(64, 60, 60);
  margin-left: 10px;
  color: black;
  background-color: transparent;
  padding: 6px 12px;
  width: auto;
  display: flex;
  align-items: center; /* Centrer l'icône verticalement */
  justify-content: center;
  height: 65%; /* Assurez-vous qu'il prend la hauteur de son parent */
  cursor: pointer;
}


.suggestions {
  width: 100%;
  background: white;
  border-top: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9;
  max-height: 20vh;
}

.suggestions.show {
  display: block;
}

.suggestions ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.suggestions ul li {
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.2s;
}

.suggestions ul li:hover {
  background: #f4f4f4;
}


/* Scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.3);
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.5);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.3) rgba(0, 0, 0, 0.05);
}

/* Panneau latéral des filtres */
.filter-panel {
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100%;
  background: white;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  padding: 20px;
  transition: right 0.3s ease-in-out;
  z-index: 100;
}

.filter-panel.open {
  right: 0;
}

.filter-panel h3 {
  margin-top: 0;
}

.close-btn {
  background: red;
  color: white;
  padding: 6px;
  border-radius: 50%;
  float: right;
  cursor: pointer;
}

.filter-panel label {
  display: block;
  margin: 10px 0;
}

.filter-panel button {
  background: #007bff;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}
