# Environments files
/.env.development
/.env.production
/.env.docker
/.env.deploy
/frontend/src/environments/*

# Do not ignore example .env
!/.env.sample
!/frontend/src/environments/environment.sample.ts

# Local files
/delDeps.bat
/noteRU.txt
/.vscode
/.history
/bucketsJSON/exportedBucketsData/*
!/bucketsJSON/exportedBucketsData/bucket.sample.json
**/prettierignore
#node_modules
node_modules

# Logs
/logs
