# Fichiers d'environements
/.env.development
/.env.production

# Ne PAS ignorer les fichiers d'environnement standard
!/frontend/environments/environment.ts
!/.env.sample

# Fichier local
/delDeps.bat
/noteRU.txt