# Environments files
/.env.development
/.env.production
/frontend/src/environments/*

# Do not ignore example .env
!/.env.sample
!/frontend/src/environments/environment.sample.ts

# Local files
/delDeps.bat
/noteRU.txt
/.vscode
/.history

#node_modules
node_modules
