<div class="container">   
    <!-- Navigation bar component -->
    <app-navbar class="app-navbar"></app-navbar>

    <!-- Wrapper containing the product search and alternatives display -->
    <div class="results-container">
        <!-- Product search component -->
        <app-prodsearch class="app-prodsearch"></app-prodsearch>

        <!-- Icon separator between components -->
        <div class="arrow">
            <i class="fa-solid fa-arrow-right"></i>
        </div>

        <!-- Component showing similar/alternative products -->
        <app-prodalternative class="app-prodalternative"></app-prodalternative>
    </div>
</div>
