<div class="container">
    <div class="add-product-container">
        <section class="general-info">
            <h2>Informations Générales</h2>
            <label for="product-name">Nom du Produit</label>
            <input id="product-name" type="text" placeholder="Name product ...">
            
            <label for="description">Description</label>
            <textarea id="description" rows="4" placeholder="Make a short description of the product ..."></textarea>
        </section>

        <section class="upload-section">
            <h2>Image du Produit</h2>
            <div class="image-preview">Aperçu de l'image</div>
            <input type="file" class="file-upload">
        </section>

        <section class="details">
            <h2>Détails</h2>
            <label for="base-price">Prix de Base</label>
            <input id="base-price" type="text" value="$47.55">
            
            <label for="origin">Origine</label>
            <select id="origin-type">
                <option>Select Origin ...</option>
            </select>
            
            <label for="category">Catégorie</label>
            <select id="category">
                <option>Select Category ...</option>
            </select>

            <label for="tags">Tags</label>
            <select id="tags">
                <option>Select Add ...</option>
            </select>
        </section>

        <section class="submit-btn">
            <button>Submit</button>
        </section>
    </div>
</div>