<div class="add-product-container">
  <!-- Contenu principal -->
  <div class="content">
    <!-- Colonne de gauche -->
    <div class="left-column">
      <!-- Statut -->
      <div class="card">
        <h2>Status</h2>
        <select class="status" [(ngModel)]="product.status">
          <option value="">Select a status</option>
          <option value="add-product">Ajouter un produit</option>
          <option value="edit-product">Modifier un produit</option>
          <option value="delete-product">Supprimer un produit</option>
        </select>
      </div>

      <!-- Product Details -->
      <div class="card">
        <h2>Product Details</h2>
        <!-- Category -->
        <label for="category">Category</label>
        <select id="category" [(ngModel)]="product.category">
          <option value="">Select a category</option>
          <option *ngFor="let cat of categories" [value]="cat">
            {{ cat }}
          </option>
        </select>

        <!-- Brand -->
        <label for="brand">Brand</label>
        <select
          id="brand"
          [(ngModel)]="selectedBrand"
          (change)="onBrandChange($event)"
        >
          <option value="">Select a brand</option>
          <option *ngFor="let b of brands" [value]="b">{{ b }}</option>
          <option value="other">Other (Add New)</option>
        </select>
        

        <!-- Champ de saisie pour une nouvelle marque (affiché seulement si "Other" est sélectionné) -->
        <input
          *ngIf="isOtherBrand"
          type="text"
          [(ngModel)]="newBrand"
          placeholder="Enter new brand name"
        />

        <!-- Add some brand's description -->
        <textarea
        *ngIf="isOtherBrand"
        [(ngModel)]="newBrandDescription"
        placeholder="Enter brand description"
        rows="3"
      ></textarea>

      <label for="sku">Bar Code</label>
      <input
        id="sku"
        type="text"
        placeholder="Type a bar code and press Enter"
        [(ngModel)]="product.id"
      />
      </div>
    </div>

    <!-- Colonne de droite -->
    <div class="right-column">
      <!-- Contenu de l'onglet General -->
      <div class="tab-content">
        <div class="card">
          <h2>General</h2>
          <label for="productName">Product Name</label>
          <input
            id="productName"
            placeholder="Enter product name ..."
            type="text"
            [(ngModel)]="product.name"
          />

          <label for="description">Description</label>
          <textarea
            id="description"
            placeholder="Write a description ..."
            rows="4"
            [(ngModel)]="product.description"
          ></textarea>

          <p class="note">
            Please make sure to carefully review your spelling and grammar to
            ensure clear and professional communication.
          </p>
        </div>

  
        <div class="card">  
          <!-- Eco-score-->
        <label for="sku">Eco-score</label>
        <input
          id="sku"
          type="text"
          placeholder="Type a Eco-score and press Enter"
          [(ngModel)]="product.ecoscore"
        />
          <!-- Tags affichés sous forme d'étiquettes intégrées dans l'input -->
          <label for="tags">Tags</label>
          <div class="tags-input-container">
            <span class="tag" *ngFor="let tag of product.tags">
              {{ tag }} <button type="button" (click)="removeTag(tag)">x</button>
            </span>
            <input
              id="tags"
              type="text"
              placeholder="Type a tag and press Enter"
              [(ngModel)]="tagInput"
              (keydown)="addTag($event)"
            />
          </div>

          <!-- Countries (Origin) -->
          <label for="origin">Origin</label>
          <select id="origin" [(ngModel)]="product.origin">
            <option value="">Select a country</option>
            <option *ngFor="let country of countries" [value]="country">
              {{ country }}
            </option>
          </select>
        </div>
      </div>

      <div class="actions">
        <button class="btn btn-cancel" (click)="onCancel()">
          <strong>Cancel</strong>
        </button>
        <button class="btn btn-save" (click)="onSave()">
          <strong>Submit</strong>
        </button>
      </div>
    </div>
  </div>
</div>
