<body [class.dark-mode]="isDarkMode">
  <img class="wave" src="wave.png">
  <img class="wavetop" src="wavetop.png">

  <div class="container">
      <div class="login-content">
          <form action="index.html">
              <img src="ours.png">
              <h2 class="title">Welcome</h2>

              <!-- Champ Username -->
      <div class="input-container name">
        <div class="icon-log">
          <i class="fas fa-user"></i>
        </div>
        <div class="data">
          <h5>Username</h5>
          <input #usernameInput type="text" class="input-log" name="username" [(ngModel)]="username">
        </div>
      </div>

      <!-- Champ Password avec icône d'œil -->
      <div class="input-container pass">
        <div class="icon-log"> 
          <i class="fas fa-lock"></i>
        </div>
        <div class="data">
          <h5>Password</h5>
          <input #passwordInput [attr.type]="showPassword ? 'text' : 'password'" 
            class="input-log" name="password" [(ngModel)]="password">
          <span class="eye-icon" (click)="togglePasswordVisibility()">
            <i class="fas eyes" [class.fa-eye]="showPassword" [class.fa-eye-slash]="!showPassword"></i>
          </span>
        </div>
      </div>

              <a href="#">Forgot Password?</a>
              <input type="submit" class="btn" value="Login">
          </form>
      </div>
  </div>

  <!-- Bouton Dark Mode -->
  <button class="dark-mode-btn" (click)="toggleDarkMode()">🌙</button>
</body>
