/**
 * @file altprod.component.css
 * @brief Stylesheet for the AltProd component.
 */

/* Reset margins and paddings for all elements */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/**
 * @brief Main container of the component.
 * It arranges elements in a column and centers them.
 */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background-color: #023436;
}

/**
 * @brief Styles for the navigation bar inside the component.
 */
.app-navbar {
    width: 100%;
}

.app-usercomp {
    width: 97%;
}