<nav class="navbar">
  <div class="logo" routerLink="/home">
      <img class="easelogo" src="vrailogo.png" alt="Logo">
  </div>

  <ul [class.active]="menuOpen">
    
    <li >
      <a class="nav-btn" routerLink="/home">
        <i class="fa-solid fa-house"></i>Accueil
      </a>
    </li>
    <li >
      <a class="nav-btn" routerLink="/category">
        <i class="fa-solid fa-tags"></i>Catégories
      </a>
    </li>
    <li>
      <a class="nav-btn" routerLink="/add-product" *ngIf="canAddProduct">
        <i class="fa-solid fa-plus"></i>Add Product
      </a>
    </li>
    <li >
      <a class="nav-btn" routerLink="/contact">
        <i class="fa-solid fa-phone"></i>Contact
      </a>
    </li>
    <li class="user">
      <div class="log-container">
        <ng-container class="log-info" *ngIf="isAuthenticated; else loginTemplate">
          <!--Image de profil qui ouvre le menu déroulant -->
          <img class="userprofile" src="rhinoceros.png" alt="Profile" (click)="toggleDropdown()">
          <!-- Menu déroulant -->
          <div *ngIf="showDropdown || isMobile" class="dropdown-menu">
            <span routerLink="/user-profile" class="profile-btn">Profile</span>            
            <span (click)="logout()" class="logout-btn">Log out</span>
          </div>
        </ng-container>

        <ng-template #loginTemplate>
          <a class="nav-btn" routerLink="/login" class="nav-btn login-btn">Login</a>
        </ng-template>
      </div>
    </li>
  </ul>

  <div class="menu-toggle" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>
