/* Styles de base */

.navbar {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px  10px 10px 15px;
  backdrop-filter: blur(1.5rem); 
  background: transparent;
  border-radius: 40px;
  width: 100%;
  color: #f9f9f9;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 1.5em;
  border-right: 1px solid #f9f9f9 ;
  padding-right: 12px;
  font-weight: bold;
  cursor: pointer;
}
.easelogo {
  height: 100%;
  border-radius: 45px;
}

/* Menu */
.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex: 1; 
  gap: 10px;
  padding-left: 20px;
  margin: 0;
  text-align: center;
  color: #f9f9f9;

}

.navbar ul li {
  display: inline-block;
  height: fit-content;
}

.navbar ul li a {
  text-decoration: none;
  color: #f9f9f9;
  font-weight: 500;
  border-radius: 40px;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;  
  cursor: pointer;
}

.navbar ul li a:hover {
  color: #2d2b27;
  background-color: #f9f9f9;
  transition: all 0.3s ease-in-out;
}

/* User Profile */
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-left: auto;
}
.log-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  gap: 10px;
  margin-left: auto;
}
.login-btn{
  background-color: #011f20;
  color: white;
}
.userprofile {
  height: 100%;
  cursor: pointer;
  border-radius: 50%;
}

/* Menu burger pour mobiles */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 10000;
}
/* Position et style du menu déroulant */
.dropdown-menu {
  position: absolute;
  right: 10px;
  top: 50px;
  gap: 10px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.profile-btn {
  padding: 10px 15px;
  border-bottom: 1px solid #778081;
  color: black;
  cursor: pointer;
}
/* Style du bouton logout dans le menu */
.logout-btn {
  background-color: red;
  color: white;
  padding: 10px 0;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  text-align: center;
}

.logout-btn:hover {
  background-color: darkred;
}



.menu-toggle span {
  width: 25px;
  height: 3px;
  background: #f9f9f9;
  margin: 4px 0;
  transition: 0.3s;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
      flex-direction: row;
  }

  .navbar ul {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 60px;
      right: 20px;
      background: white;
      color: #2d2b27;
      width: 150px;
      padding: 10px;
      border-radius: 5px;
  }

  .navbar ul.active {
    
    display: flex;
  }
  .navbar ul li a {
    color: white;
  }
  .menu-toggle {
      display: flex;
  }
  .user{
    margin-left: 0; 
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  .logo {
    border-right: none;
  }
  .log-container {
    position: relative; /* Permet à .dropdown-menu de se positionner par rapport à ce conteneur */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 10px;
    margin-left: auto;
    flex-direction: column;
  }
  .userprofile{
    display: none;
  }
  
  .profile-btn{
    width: 85%;
    border-top: 1px solid #778081;
  }
  .dropdown-menu {
    position: relative;
    display: flex !important; /* Toujours visible */
    visibility: visible !important;
    opacity: 1 !important;
    font-weight: 500;
    border: none;
    top: auto;
    right: auto;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    box-shadow: none;
    padding: 0;
  }
  
}
