/* Styles de base */

.navbar {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px  10px 10px 15px;
  backdrop-filter: blur(1.5rem); /* Applique le flou */
  background: transparent;
  border-radius: 40px;
  width: 100%;
  color: #f9f9f9;
}

/* Logo */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 1.5em;
  border-right: 1px solid #f9f9f9 ;
  padding-right: 12px;
  font-weight: bold;
  cursor: pointer;
}
.easelogo {
  height: 100%;
  border-radius: 45px;
}

/* Menu */
.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex: 1; /* Pour occuper l'espace entre logo et user */
  gap: 10px;
  padding-left: 20px;
  margin: 0;
  text-align: center;
  color: #f9f9f9;

}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  text-decoration: none;
  color: #f9f9f9;
  font-weight: 500;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;  
  padding: 10px 15px;
  cursor: pointer;
}

.navbar ul li a:hover {
  color: #2d2b27;
  background-color: #f9f9f9;
  transition: all 0.3s ease-in-out;
}

/* User Profile */
.user {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  margin-left: auto;
}
.userprofile {
  height: 100%;
  border-radius: 50%;
}

/* Menu burger pour mobiles */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 10000;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background: #f9f9f9;
  margin: 4px 0;
  transition: 0.3s;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
      flex-direction: row;
      padding: 10px 10px 10px 3px;
  }

  .navbar ul {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 60px;
      right: 20px;
      background: white;
      color: #2d2b27;
      width: 150px;
      padding: 10px;
      border-radius: 5px;
  }

  .navbar ul.active {
 
    display: flex;
  }
  .navbar ul li a {
    color: black;
  }
  .menu-toggle {
      display: flex;
  }
  .user{
    margin-left: 0; /* Enlève le push vers la droite */

  }
  .logo {
    border-right: none;
  }
}
