<nav class="navbar">
  <div class="logo" routerLink="/home">
    <img class="easelogo" src="vrailogo.png" alt="Logo">
  </div>

  <ul [class.active]="menuOpen">
    <li>
      <a class="nav-btn" routerLink="/home">
        <i class="fas fa-home"></i> Accueil
      </a>
    </li>
    <li>
      <a class="nav-btn" routerLink="/category">
        <i class="fas fa-tags"></i> Catégories
      </a>
    </li>
    <li>
      <a class="nav-btn" routerLink="/add-product" *ngIf="canAddProduct">
        <i class="fas fa-plus"></i> Add Product
      </a>
    </li>
    <li>
      <a class="nav-btn" routerLink="/contact">
        <i class="fas fa-envelope"></i> Contact
      </a>
    </li>

    <li class="user">
      <div class="log-container">
        <ng-container class="log-info" *ngIf="isAuthenticated; else loginTemplate">
          <!--Image de profil qui ouvre le menu déroulant -->
          <img class="userprofile" src="rhinoceros.png" alt="Profile" (click)="toggleDropdown()">
          <!-- Menu déroulant -->
          <div *ngIf="showDropdown || isMobile" class="dropdown-menu">
            <span routerLink="/user-profile" class="profile-btn"><i class="fas fa-user"></i> Profile</span>
            <!-- Ajout du bouton admin si l'utilisateur est un administrateur -->
            <span *ngIf="userRole === 'Admin' || userRole === 'SuperAdmin'" routerLink="/admin"
              class="profile-btn admin-btn"><i class="fas fa-user-shield"></i>Dashboard Admin</span>
            <span (click)="logout()" class="logout-btn"><i class="fas fa-sign-out-alt"></i> Log out</span>
          </div>
        </ng-container>

        <ng-template #loginTemplate>
          <a class="nav-btn login-btn" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
        </ng-template>
      </div>
    </li>
  </ul>

  <div class="menu-toggle" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>