/**
 * @file altprod.component.css
 * @brief Stylesheet for the AltProd component.
 */

/* Reset margins and paddings for all elements */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    font-family: 'Geologica', sans-serif;
    background-color: #023436;
}

.app-navbar {
    width: 100%;
    z-index: 1000000;
}

.app-super-admin-dashboard {
    width: 100%;
    z-index: 800;
}