<!-- Loading message -->
<div *ngIf="isLoading" class="loading-message">🔄 Recherche en cours...</div>
<div class="container">
<!-- Get Lucky button always visible -->
  <button
    class="get-lucky-btn"
    title="Trouvez des produits autour de vous"
    *ngIf="canGetLuckyButton"
    (click)="getRandomProduct()"
  >
  <i class="fa-solid fa-shuffle"></i>
  </button>

<!-- Filter dropdown -->
  <button
    class="products-around-me-btn"
    title="Trouvez des produits dans une zone géographique"
    (click)="toggleLocationDropdown()"
  >
  <i class="fa-solid fa-location-dot"></i>
  </button>
</div>
<!-- Dropdown content displayed only if locationDropdownOpen is true -->
<div class="location-dropdown" *ngIf="locationDropdownOpen">
  <div class="location-dropdown-menu">
    <h3>Produits autour de moi</h3>
    <div class="location-input-container">
      <div class="location-input-wrapper">
        <i class="location-icon fas fa-map-marker-alt"></i>
        <input
          type="text"
          class="location-input"
          placeholder="Entrez votre pays"
          title="(Ville/département seront implémentés plus tard)"
          [(ngModel)]="userLocation"
          (input)="onLocationChange()"
        />
        <button
          class="clear-button"
          *ngIf="userLocation"
          (click)="clearLocation()"
        >
          <i class="fas fa-times"></i>
        </button>
      </div>
      <button class="search-location-button" (click)="searchByLocation()">
        Rechercher
      </button>
    </div>
    <div class="recent-locations" *ngIf="recentLocations.length > 0">
      <h4>Localisations récentes</h4>
      <ul>
        <li
          *ngFor="let location of recentLocations"
          (click)="selectLocation(location)"
        >
          <i class="fas fa-history"></i>
          {{ location }}
        </li>
      </ul>
    </div>
  </div>
</div>
