<!-- Search bar -->
<div class="search-container">
  <input class="search-bar" type="text" placeholder="Search for users..." [(ngModel)]="searchTerm" />
</div>

<!-- User loading indicator -->
<app-loading-spinner *ngIf="isLoadingUsers" message="Loading users..." size="medium">
</app-loading-spinner>

<!-- List of user cards (filtered) -->
<div class="user-cards" *ngIf="!isLoadingUsers">
  <div class="user-card" *ngFor="let user of filteredUsers" [ngClass]="{'banned': user.role === 'Banned'}">
    <div class="card-header">
      <div class="user-info">
        <div class="avatar-box">
          <i class="fas fa-user"></i>
        </div>
        <div class="text">
          <h3>{{ user.username }}</h3>
          <p>{{ user.email }}</p>
          <p class="created-at">Created on: {{ user.createdAt | date:'dd/MM/yyyy' }}</p>
          <div class="edit-container">
            <ng-container *ngIf="isSuperAdmin">
              <ng-container *ngIf="user.isEditing; else viewRole">
                <div class="role-selector-container">
                  <select class="edit-selector" #roleSelect [disabled]="isLoadingRoles">
                    <option *ngFor="let role of availableRoles" [value]="role" [selected]="user.role === role">{{ role }}</option>
                  </select>
                  <i *ngIf="isLoadingRoles" class="fas fa-spinner spinner-rotate role-loading"></i>
                </div>
                <button class="icon-btn save-btn" (click)="saveRole(user, roleSelect.value)" title="Save" [disabled]="isLoadingRoles">
                  <i class="fas fa-check"></i>
                </button>
                <button class="icon-btn cancel-btn" (click)="cancelEdit(user)" title="Cancel" [disabled]="isLoadingRoles">
                  <i class="fas fa-times"></i>
                </button>
              </ng-container>
              <ng-template #viewRole>
                <span>Role: {{ user.role }}</span>
                <button class="icon-btn edit-btn" (click)="editRole(user)" title="Edit role">
                  <i class="fas fa-pencil-alt"></i>
                </button>
              </ng-template>
            </ng-container>
            <ng-container *ngIf="!isSuperAdmin">
              <span>Role: {{ user.role }}</span>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="card-actions" *ngIf="isSuperAdmin">
      <button (click)="deleteUser(user)" title="Delete user">
        <i class="fas fa-trash"></i> Delete
      </button>
      <button (click)="banUser(user)" title="Ban/Unban user">
        <i class="fas fa-ban"></i> {{ user.role === 'Banned' ? 'Unban' : 'Ban' }}
      </button>
    </div>
  </div>
</div>

<!-- Message when no users are found -->
<div class="no-results" *ngIf="!isLoadingUsers && filteredUsers.length === 0">
  <p>No users found for "{{ searchTerm }}"</p>
</div>
