<!-- homepage.component.html -->

<div #vantaBackground class="container vanta-box">
  <app-navbar class="app-navbar"></app-navbar>

  <!-- Section Titre -->
  <div class="title">
    <div class="slogan">
      <h1>Consommez local, trouvez l'alternative idéale !</h1>
    </div>
    <div class="explication">
      <h5>Trouvez des alternatives européennes à vos produits importés en un clic !</h5>
    </div>
  </div>

  <app-searchbar class="app-searchbar"></app-searchbar>

  <app-settings-button class="app-settings-button"></app-settings-button>
</div>
<app-info class="app-info"></app-info>