.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 20px;
  background-color: #023436;

}

.app-navbar,
.app-choice {
  width: 100%;
}
.app-navbar{
  border-bottom: 1px solid #ccc;
  z-index: 1000000;
}