.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 10px;
    gap: 20px;
    background-color: #023436;
    
  }
  .app-navbar, .app-choice{
    width: 100%;
  }