<div class="container sticky-container" [ngClass]="{'non-european': !isEuropean}" *ngIf="productDetails; else noResults">
  <div class="result-container">
    <div class="item-container">
      <ul class="items-list">
        <li class="item" tabindex="0" [attr.aria-label]="'Voir le produit ' + productDetails.name">
          <div class="img-container">
            <img class="product-image" [src]="productDetails.imageUrl || 'assets/placeholder.jpg'" alt="{{ productDetails.name }}">
          </div>
          <div class="product-details">
            <div class="title-info">
              <h3 class="product-name">{{ productDetails.name }}</h3>
            </div>
            <div class="other-info">
              <div class="origin">
                Origin: <b>{{ productDetails.origin || 'Inconnue' }}</b>
              </div>
              <div class="rating">
                <span *ngIf="productDetails.rating; else notRated" class="rating-badge">
                  {{ productDetails.rating }}/5
                </span>
                <ng-template #notRated>
                  <span>Non noté</span>
                </ng-template>
              </div>
            </div>
            <p class="product-description"><strong>Description: </strong>{{ productDetails.description }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #noResults>
  <p>Aucun produit trouvé avec ces critères.</p>
</ng-template>
