<div class="dashboard-container">
  <!-- Bouton burger visible en responsive -->
  <button class="burger-btn" [class.open]="menuOpen" (click)="toggleMenu()">
    <i class="fa-solid fa-arrow-right"></i>
  </button>

  <!-- Barre latérale -->
  <nav class="tab-bar" [class.open]="menuOpen">
    <a [class.active]="activeTab === 'stats'" (click)="selectTab('stats')">
      <i class="fa-solid fa-chart-pie"></i>Statistiques
    </a>
    <a [class.active]="activeTab === 'users'" (click)="selectTab('users')">
      <i class="fa-solid fa-users-gear"></i>Utilisateurs
    </a>
    <a [class.active]="activeTab === 'products'" (click)="selectTab('products')">
      <i class="fa-solid fa-cloud-arrow-up"></i>Demandes Produits
    </a>
  </nav>

  <!-- Contenu -->
  <div class="tab-content">
    <app-stats *ngIf="activeTab === 'stats'"></app-stats>
    <app-users *ngIf="activeTab === 'users' && isAuthorized" class="app-users"></app-users>
    <app-product-requests *ngIf="activeTab === 'products'"></app-product-requests>
  </div>
</div>
