<div class="dashboard-container">
  <!-- Tab bar -->
  <nav class="tab-bar">
    <a [class.active]="activeTab === 'stats'" (click)="selectTab('stats')">
      <i class="fa-solid fa-chart-pie"></i>Statistiques
    </a>
    <a [class.active]="activeTab === 'users' " (click)="selectTab('users')">
      <i class="fa-solid fa-users-gear"></i>Utilisateurs
    </a>
    <a [class.active]="activeTab === 'products'" (click)="selectTab('products')">
      <i class="fa-solid fa-cloud-arrow-up"></i>Demandes Produits
    </a>
  </nav>

  <!-- Content depending on selected tab -->
  <div class="tab-content">
    <!-- If the tab is 'stats', it displays <app-stats>. -->
    <app-stats *ngIf="activeTab === 'stats'"></app-stats>

    <!-- If the tab is 'users', it displays <app-user-management>. -->
    <app-users *ngIf="activeTab === 'users'"></app-users>

    <!-- If the tab is 'products', it displays <app-product-requests>. -->
    <app-product-requests *ngIf="activeTab === 'products'"></app-product-requests>
  </div>
</div>